/* remove the border */
body {
    border: 0;
    background-color: white;
    overflow: hidden;
    margin: 0;
}
/* make the canvas the size of the viewport */
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #a5ecff;
}

.debug-info {
    display: block;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.8;
    background-color: rgba(95,95,95,0.51);
    font-family: Consolas;
    color: #ffffff;
    padding: 5px;
    font-weight: lighter;
    font-size: 8pt;
}